.Comentarios {
    background-color: #fff;
    margin-bottom: 2rem;
    border-radius: .5rem;
    box-shadow: 0 10px 15px -3px rgba(0, 0, 0, .1), 0 4px 6px -2px rgba(0, 0, 0, .5);
    display: flex;
    padding: 1rem;
}

.Comentarios .avatar {
    max-width: 80px;
    max-height: 80px;

}

.Comentarios .conteudo {
    margin-left: 1rem;
    width: 100%;
}

.Comentarios .usuario {
    font-size: 1.25rem;
    margin: .5rem 0 .25rem 0;
    color: #2d3748;
} 

.Comentarios .conteudo .email {
    color: #007bff;
}

.Comentarios .conteudo .mensagem {
    color: #2d3748;
    margin: .5rem 0;
}

.Comentarios .conteudo .data {
    text-align: right;
    color: #718096;
    font-size: .75rem;
}

.conteudo button {
    position: relative;
    right: 40px;
    border: none;
    background: none;
    font-size: 1.5rem;  
}




















